.DRAFT {
  background: var(--global-status-draft);
}

.AWAITING_SENIOR {
  background: var(--global-status-awaiting);
}

.AWAITING_MANAGER {
  background: var(--global-status-awaiting);
}

.APPROVED {
  background: var(--global-status-approved);
}

.REJECTED {
  background: var(--global-status-rejected);
}

.CANCELLED {
  background: var(--global-status-cancelled);
}

.INVALID {
  background: var(--global-status-invalid);
}
