.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  flex: 1;
}

.label {
  color: var(--text-black);
}

.labelDisabled {
  color: var(--text-gray);
}

.labelError {
  color: var(--text-red);
}

.wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  border: 1px solid var(--border-gray);
  border-radius: 8px;
  background: var(--background-white);
  transition: border 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  min-height: 72px; /* можно подогнать под стиль проекта */
}

.wrapper:hover {
  border: 1px solid var(--border-blackgray);
}

.wrapper:focus-within {
  border-color: var(--border-blue);
}

.textarea {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 8px;
  min-height: 72px;
  background: transparent;
  resize: vertical;
  color: var(--text-black);
  line-height: 1.4;
}

.textarea::placeholder {
  color: var(--text-gray);
}

.icon.left {
  margin: 8px 0 0 8px;
}

.icon.right {
  margin: 8px 8px 0 0;
}

.icon,
.icon svg {
  width: 16px;
  height: 16px;
  color: var(--icons-gray);
}

.error {
  border-color: var(--border-red);
}

.errorMessage {
  color: var(--text-red);
  margin-top: 2px;
}

/* Helper */
.helperText {
  color: var(--text-gray);
  margin-top: 2px;
}

/* Disabled */
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
