.MATERIAL,
.WRAPPING_MATERIAL,
.TINING_MATERIAL {
  background: var(--global-product-type-material);
}

.CONSUMABLE,
.WRAPPING_CONSUMABLE,
.TINING_CONSUMABLE {
  background: var(--global-product-type-consumable);
}

.TOOL,
.WRAPPING_TOOL,
.TINING_TOOL {
  background: var(--global-product-type-tool);
}

.EQUIPMENT,
.WRAPPING_EQUIPMENT,
.TINING_EQUIPMENT {
  background: var(--global-product-type-equipment);
}

.CHEMICAL,
.WRAPPING_CHEMICAL,
.TINING_CHEMICAL {
  background: var(--global-product-type-chemical);
}

.BUSINESS_COST_MATERIAL,
.BUSINESS_COST_STORAGE,
.BUSINESS_COST_EQUIPMENT {
  background: var(--global-product-type-business-cost);
}
